// ヘッダースタイル
@use './bootstrap/bootstrap' as *;

.sk-header {
  background: #fff;
  box-shadow: 0 2px 8px $primary;

  &-logo {
    width: 50px;
    height: auto;
  }

  .navbar-brand {
    text-transform: uppercase;
  }

  .nav-item {
    font-size: 1.4rem;
    padding: 0 .7rem;
  }

  .nav-link {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 5px;
      background-color: $primary;
      transform: scaleX(0);
      transition: transform .2s;
    }

    &.active::after {
      transform: scaleX(1);
    }
  }
}